.arrange {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 14;
  background-color: #3a3330;

  &::before {
    content: '';
    top: 0;
    width: 100%;
    opacity: 0.1;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: #4e4745 url('//st.bork.ru/images/basket/bg-pattern.svg');
  }


  .arrange_block {
    padding: 5px;
    width: 35%;
    height: 100%;
    margin: 0 auto;

    // opacity: .1;
    .header_m {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .product_m {
      padding: 10px;
      height: 100px;
      border-radius: 8px;
      background-color: #3A3330;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;



      


      .left_m {
        width: 450px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 10px;
        background-color: red;

        .left_m__img {
          margin-top: 10px;
          width: 75px;
          height: 80px;
          background-color: blue;
          margin-right: 10px;
        }








      }

      img {
        width: 50px;
      }
    }

    .main_mm {
      padding: 10px;

      border-radius: 8px;

      background-color: #1E1A19;

      .text_main {
        display: flex;
        align-items: center;
        //  height: 60px;
      }

      h1 {
        color: white;
        font-size: 20px;
      }

      .line_m {
        width: 100%;
        height: 1px;
        border: 0.1px solid gray;
      }

      .input {
        display: flex;
        align-items: center;
        color: gray;
        height: 90px;


        input {
          background-color: #3A3330;
          width: 300px;
          height: 50px;
          border-radius: 10px;
          border: none;
          margin-left: 20px;

        }
      }

      .inputs_m {
        .top_m {
          color: gray;

          margin-top: 20px;

          display: flex;
          align-items: center;

          input {
            margin-left: 50px;
          }
        }

        .bottom_m {
          margin-top: 20px;
          align-items: center;
          display: flex;
          color: gray;

          input {
            margin-left: 115px;

          }
        }

        input {
          background-color: #3A3330;
          margin-left: 40px;
          width: 300px;
          height: 50px;
          border-radius: 10px;
          border: none;
        }
      }

      .main_m_footer {
        color: gray;

        margin-top: 20px;

        button {

          color: white;
          background-color: #EF6F2E;
          width: 260px;
          height: 50px;
          border: none;
          border-radius: 30px;
        }
      }


    }

  }

}

.way_m {
  margin-top: 15px;

  .line_1 {
    padding: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: black;
    width: 100%;
    border-radius: 12px;
    color: gray;
    height: 70px;

  }
}