.main {
    .item__box-deleter {
        cursor: pointer;
        font-size: 24px;
        color: white;
        background: none;
        border: none;
    }
    font-family: Akzidenz;
    &-content {
        position: relative;
        z-index: 14;
        padding-bottom: 20px;
        padding-top: 100px;
        background-color: #3a3330;
        height: 100%;
        width: 100%;
    }
    &-container {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-cart__heading {
        width: 91.5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            // margin-left: 40px;
        }
        a {
            font-size: 14px;
            opacity: 0.8;
            transition: .3s ease;
        }
        a:hover {
            opacity: 1;
        }
    }
    &-single__item__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .item__box {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            gap: 10px;
            background-color: #3a3330;
        }
        .item__box-screen {
            .item__box-deleter {
                align-self: flex-end;
            }
            padding: 15px 25px 25px;
            border-radius: 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background-color: #3a3330;
            img {
                width: 30%;

            }
            h2 {
                font-size: 19px;
                color: white;
            }
        }
    }
    .item__box-description {
        background-color: rgba(0,0,0,.5);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px;
        border-radius: 0 0px 10px 10px;
        form {
            select {
                cursor: pointer;
                outline: none;
                border: none;
                border-bottom: 2px dashed white;
                color: white;
                font-size: 18px;
                background-color: transparent;
                border-radius: 10px;
                padding: 20px 35px 10px 35px;
                
                option {
                    color: black;
                    border: none;
                }
            }
        }
        
        .item__box-purchase {
            display: flex;
            align-items: center;
            gap: 20px;
            a {
                background-color: #f37021;
                padding: 25px 30px;
                border-radius: 100px;
                transition: .3s ease;
            }
            a:hover {
                background-color: #f69459;
            }
            .item__box-price {
                color: white;
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-family: "helvetica";
                text-align: right;
                span:nth-child(1) {
                    color: rgba(255,255,255,.4);
                    font-size: 16px;
                }
                span:nth-child(2) {
                    color: white;
                    font-size: 19px;
                }
            }
        }
    }
    &-payment__screen {
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),#3a3330 url('//st.bork.ru/images/basket/gift-card-purchase-block.jpg') no-repeat center/cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 25px;
    }
    &-payment__heading {
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.315);
        p {
            font-size: 19px;
            color: white;
        }
        button {
            background: none;
            border: none;
            color: white;
            font-size: 24px;
        }
    }
    .payment-methods {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .method {
            display: flex;
            align-items: center;
            gap: 15px;
            span {
                font-size: 19px;
                color: white;
            }
            input {
                display: none;
                opacity: 0;
            }
            input:checked label {
                span {
                    background-color: blue;
                }
            }
            label {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                padding: 5px;
                border: 1px solid rgba(255, 255, 255, 0.4);
                .selected {
                    position: absolute;
                    border-radius: 100%;
                    display: block;
                    width: 14px;
                    height: 14px;
                    
                    background-color: #f37021;
                }
            }
        }
        input {
            border: none;
            border-radius: 15px;
            width: 30%;
            padding: 20px;
        }
        input::placeholder {
            color: transparent;
        }
        input[type=tel] {
            font-size: 19px;
            color: rgba(0, 0, 0, 0.404);
        }
        input:focus {
            color: black;
            border-bottom: 4px solid #f37021;
        }
        p {
            color: rgba(255, 255, 255, 0.5);
            width: 40%;
            font-size: 19px;
        }
        button {
            transition: .3s ease;
            font-size: 19px;
            color: white;
            background: transparent;
            border-radius: 25px;
            border: 1px solid #f37021;
            padding: 15px 35px;
        }
        button:hover {
            background-color: #f69459;
        }
    }
    .main-multiple__item__container {
        width: 100%;
        display: flex; // flex
        flex-direction: column;
        background-color: #3a3330;
        .item__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            .item__row-left__side {
                display: flex;
                align-items: center;
                gap: 20px;
                img {
                    width: 15%;
                }
                h2 {
                    font-size: 19px;
                    color: white;
                }
            }
            .item__row-right__side {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                span {
                    color: white;
                    font-size: 19px;
                }
                select {
                    padding: 20px 25px;
                    border: none;
                    border-bottom: 1px dashed white;
                    background-color: transparent;
                    border-radius: 15px;
                    color: white;
                    font-size: 19px;
                    outline: none;
                    option {
                        color: black;
                    }
                }
            }
        }
    }
    .item__collection {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .item__row-descrption {
        display: none;
    }
}
.main-content::before {
    content: '';
    top: 0;
    width: 100%;
    opacity: 0.1;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: #4e4745 url('//st.bork.ru/images/basket/bg-pattern.svg');
}