@media only screen and (max-width: 1400px) {
    body {
        .footer {
            .footer-site__actions {
                .footer-actions__container {
                    width: 80%;
                }
            }
            .footer-directions__list {
                h2{
                    a {
                        font-size: 16px;
                    }
                }
                width: 80%;
                gap: 50px;
               
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    body {
        .footer {
            .footer-site__actions {
                .footer-actions__container {
                    grid-template-columns: repeat(2, 1fr);
                    width: 95%;
                    .action {
                        span {
                            font-size: 10px;
                        }
                    }
                }
            }
            .media__remove {
                display: none;
            }
            &-directions__list {
                width: 90%;
                flex-direction: column;
            }
            .footer-preconclusion__container {
                margin-top: 40px;
                width: 90%;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .footer-links {
                    margin: 40px 0;
                }
            }
            .accardeon {
                width: 90%;
            }
        }
    }
}