@media only screen and (max-width: 880px){
    body {
        .header-modal__widow {

            padding: 8px;
            width: 50%;
            .header-category__list {
                gap: 15px;
                .header-category__item {
                    a {
                        font-size: 14px;
                    }

                }
                .special__offence {
                    height: 14px;
                }
            }
            .media__item {
                display: block;
            }
            .header-service__list {
                gap: 8px;
                .header-service__item {
                    a {
                        font-size: 11px;
                        
                    }
                }
            }
        }
        .header {
            &-right__side {
                display: none;
            }
            &-logo {
                right: 0;
                transform: translateX(0);
                justify-content: end;
                align-items: flex-end;
                a {
                    width: 100%;
                    svg {
                        width: 40%;
                    }
                }
            }
            &-phone__number {
                font-size: 10px;
            }
        }
    }
}