body{
    position: relative;
}

.search {
    opacity: 0;
    display: none;
    z-index: 102 !important;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 1280px !important;
    height: 850px !important;
    background-color: #3A3330 !important;
    border-radius: 14px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.2);
    transition: .3s ease;

    .inp_div{
        width: 100%;
        height: 80px;
        background-color: white;
        border-radius: 40px;
        display: flex;
        align-items: center;

        .sea_inp{
            width: 80%;
            height: 50px;
            margin-left: 60px;
            background: transparent;
            border: none;
            font-size: 23px;
            padding-left: 20px;
        }

        .go{
            width: 15%;
            height: 100%;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 26px;
            border-radius: 40px;
            margin-left: 10px;
            background-color: #F37021;

            .search_p{
                cursor: pointer;
            }

            .search_i{
                cursor: pointer;
                margin-right: 8px;
                width: 40px;
                height: 40px;
            }
        }
    }
    
    .texts_div{
        width: 90%;
        height: 80%;
        margin: 50px auto;
        display: grid;
        background-color: transparent;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 300px;
        padding-top: 25px;
        grid-gap: px 25px;

        .grids_one{
            grid-column: 1/3;
            background: transparent;
            border-bottom: 1px solid white;

            .alw{
                margin-top: 15px;
                font-size: 27px;
                color: #9C9997;
            }

            .help_div_one{
                width: 100%;
                height: 200px;
                margin-top: 20px;
                padding-top: 10px;
                padding-left: 10px;
                font-size: 32px;
                color: white;
                display: flex;
                flex-wrap: wrap;

                .help_text{
                    padding-bottom: 8px;
                    padding-left: 10px;
                }
            }

            
        }

        .grids_two{
            background: transparent;
            grid-column: 1/3;

            .alw{
                margin-top: 15px;
                font-size: 27px;
                color: #9C9997;
            }

            .help_div_two{
                width: 100%;
                height: 200px;
                margin-top: 20px;
                padding-top: 10px;
                padding-left: 10px;
                font-size: 32px;
                color: white;

                .help_text{
                    padding-bottom: 8px;
                    padding-left: 10px;
                }
            }
        }

        .grids_three{
            grid-column: 3/5;
            grid-row: 1/3;
            background: transparent;
            border-left: 1px solid white;
            margin-left: 25px;
            padding-left: 40px;
            padding-top: 10px;
            display: flex;
            flex-wrap: wrap;

            .itemchik{
                width: 220px;
                height: 280px;
                background-color:#292422;
                margin-right: 30px;
                padding-top: 20px;
                border-radius: 16px;
                position: relative;
               
               .itemchik_img{
                position: absolute;
                width: 60%;
                margin-top: 30px;
                margin-left: 40px;
                height: 60%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
               }
                .itemchik_ball{
                    width: 35px;
                    height: 38px;
                    border-radius: 50px;
                    margin-left: 150px;
                    cursor: pointer;
                    background-color: #F37021;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 100;

                    .ball_img{
                        width: 25px;
                    }
                }

                .betta{
                   display: none;
                }

                .itemchik_ball_post{
                    width: 35px;
                    height: 38px;
                    border-radius: 50px;
                    margin-left: 150px;
                    cursor: pointer;
                    background-color: #F37021;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ball_img{
                        width: 25px;
                    }
                }

                .itemchik_p{
                    padding-left: 15px;
                    font-size: 26px;
                    padding-top: 160px;
                    color: white;
                }
            }
        }
    }
}

.search_bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    opacity: 0;
    display: none;
    transition: .3s ease;
    z-index: 101;
}

.close_search {
    position: absolute;
    opacity: 0;
    display: none;
    z-index: 102 !important;
    width: 30px;
    height: 30px;
    top: 20%;
    cursor: pointer;
    left: 97%;
    transform: translate(-50%, -50%) scale(.2);
    transition: .3s ease;
}