* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


button,
a {
    cursor: pointer;
}


a {
    text-decoration: none;
    color: white;
}

span {
    font-size: 24px;
}

.swiper-button-next {
    position: absolute;
    left: 50px;
}

.swiper-wrapper {
    background-color: black !important;
}

.scren-one {
    height: 80vh;
    background-color: black !important;
}

.swiper-slide {
    background-color: black !important;
    transition: .5s ease;
}

.swiper-pagination {
    color: white;
}


.swipper_item {
    width: 500px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
    left: 240px;
    top: 251px;
    font-family: Akzidenz;

    .text {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .btn {
        width: 164px;
        height: 55px;
        border-radius: 20px;
        background: none;
        border: 2px solid #ef6f2e;
        color: white;
        font-size: 19px;
        font-weight: 600;
    }
}

.image {
    animation: slide-in 4000ms;
    animation-timing-function: linear;
    animation-name: image;
    transition: all .5s ease;
    position: absolute;
    right: 0px;
}

@keyframes image {
    from {
        transform: translateX(20px);
    }

    to {
        transform: translateX(0px);
    }
}

.swipper_item_1 {
    width: 500px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    color: #fff;
    right: 240px;
    top: 251px;
    font-family: Akzidenz;

    .text {
        font-size: 17px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .btn {
        width: 164px;
        height: 55px;
        border-radius: 20px;
        background: none;
        border: 2px solid #ef6f2e;
        color: white;
        font-size: 19px;
        font-weight: 600;
    }
}

.image2 {
    animation: slide-in 6000ms;
    animation-timing-function: linear;
    animation-name: image_1;
}

@keyframes image_1 {
    from {
        transform: translateX(20px);
    }

    to {
        transform: translateX(0px);
    }
}

.swipper_item_2 {
    width: 400px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    color: #fff;
    right: 240px;
    top: 251px;
    font-family: Akzidenz;

    .text {
        font-size: 19px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .btn {
        width: 164px;
        height: 55px;
        border-radius: 20px;
        background: none;
        border: 2px solid #ef6f2e;
        color: white;
        font-size: 19px;
        font-weight: 600;
    }
}

.image_3 {
    animation: slide-in 6000ms;
    animation-timing-function: linear;
    animation-name: image_3;
}

@keyframes image_3 {
    from {
        transform: translateX(30px);
    }

    to {
        transform: translateX(0px);
    }
}

.swipper_item_3 {
    width: 450px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    color: #fff;
    right: 275px;
    top: 251px;
    font-family: Akzidenz;

    .text {
        font-size: 19px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .btn {
        width: 164px;
        height: 55px;
        border-radius: 20px;
        background: none;
        border: 2px solid #ef6f2e;
        color: white;
        font-size: 19px;
        font-weight: 600;
    }
}

.image_4 {
    animation: slide-in 6000ms;
    animation-timing-function: linear;
    animation-name: image_4;
}

@keyframes image_4 {
    from {
        transform: translateX(30px);
    }

    to {
        transform: translateX(0px);
    }
}


.menushka_swip {
    margin: 0 auto;
    width: 1320px;
    background-color: #3A3330;

    .tuda_syda {
        margin: 50px auto;
        width: 20%;
        height: 50px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        font-size: 20px;

        .tuda_p {
            cursor: pointer;
            color: white;
            border-bottom: 4px solid orange;

        }

        .syda_p {
            cursor: pointer;
            color: #9D9390;
        }
    }

    .father {
        width: 100%;
        padding-bottom: 100px;
        background-color: #3A3330 !important;

        .swiper {
            width: 100%;
            height: 700px;
            background-color: #3A3330 !important;


            .swiper-wrapper {
                background-color: #3A3330 !important;


                .swiper-slide {
                    border-radius: 15px;
                    background-color: #26211E !important;
                    background-size: 75%;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;

                    .swip_img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-size: 300px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .box_top {
                        position: absolute;
                        width: 100%;
                        height: 80px;
                        top: 0px;
                        display: flex;
                        align-items: center;

                        .name_logo {
                            margin-top: 25px;
                            margin-left: 40px;
                            width: 150px;
                        }

                        .ball {
                            position: absolute;
                            width: 0px;
                            height: 0px;
                            top: 26px;
                            left: 240px;
                            border-radius: 40px;
                            background-color: orangered;
                            transition: 400ms;
                        }

                        .ball_post {
                            position: absolute;
                            width: 45px;
                            height: 40px;
                            top: 26px;
                            left: 240px;
                            border-radius: 40px;
                            background-color: orangered;
                            transition: 400ms;
                        }

                        .ball_cost {
                            position: absolute;
                            width: 75px;
                            height: 40px;
                            top: 26px;
                            left: 200px;
                            border-radius: 40px;
                            background-color: orangered;
                            transition: 400ms;
                        }

                        .add {
                            position: absolute;
                            width: 22px;
                            top: 36px;
                            left: 250px;
                            transition: 600ms;
                        }

                        .add_post {
                            position: absolute;
                            width: 22px;
                            top: 36px;
                            left: 210px;
                            transition: 600ms;
                        }

                        .buy {
                            position: absolute;
                            width: 0px;
                            top: 34px;
                            left: 290px;
                            transition: 600ms;
                        }

                        .buy_post {
                            position: absolute;
                            width: 30px;
                            top: 32px;
                            left: 240px;
                            transition: 600ms;
                        }

                    }

                    .box_bottom {
                        position: absolute;
                        width: 100%;
                        height: 80px;
                        bottom: 0px;

                        .name {
                            font-weight: bold;
                            font-size: 20px;
                            color: white;
                        }

                        .for_price {
                            width: 220px;
                            height: 30px;
                            font-size: 17px;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            margin-top: 15px;
                            margin-left: 40px;

                            .price {
                                color: white;
                            }

                            .new {
                                padding-left: 10px;
                                color: orangered;
                            }
                        }
                    }
                }
            }
        }

    }

    .father_two {
       display: none;

        .swiper {
            width: 100%;
            height: 700px;
            background-color: #3A3330 !important;


            .swiper-wrapper {
                background-color: #3A3330 !important;


                .swiper-slide {
                    border-radius: 15px;
                    background-color: #26211E !important;
                    background-size: 75%;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;

                    .swip_img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-size: 300px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .box_top {
                        position: absolute;
                        width: 100%;
                        height: 80px;
                        top: 0px;
                        display: flex;
                        align-items: center;

                        .name_logo {
                            margin-top: 25px;
                            margin-left: 40px;
                            width: 150px;
                        }

                        .ball {
                            position: absolute;
                            width: 0px;
                            height: 0px;
                            top: 26px;
                            left: 240px;
                            border-radius: 40px;
                            background-color: orangered;
                            transition: 400ms;
                        }

                        .ball_post {
                            position: absolute;
                            width: 45px;
                            height: 40px;
                            top: 26px;
                            left: 240px;
                            border-radius: 40px;
                            background-color: orangered;
                            transition: 400ms;
                        }

                        .ball_cost {
                            position: absolute;
                            width: 75px;
                            height: 40px;
                            top: 26px;
                            left: 200px;
                            border-radius: 40px;
                            background-color: orangered;
                            transition: 400ms;
                        }

                        .add {
                            position: absolute;
                            width: 22px;
                            top: 36px;
                            left: 250px;
                            transition: 600ms;
                        }

                        .add_post {
                            position: absolute;
                            width: 22px;
                            top: 36px;
                            left: 210px;
                            transition: 600ms;
                        }

                        .buy {
                            position: absolute;
                            width: 0px;
                            top: 34px;
                            left: 290px;
                            transition: 600ms;
                        }

                        .buy_post {
                            position: absolute;
                            width: 30px;
                            top: 32px;
                            left: 240px;
                            transition: 600ms;
                        }

                    }

                    .box_bottom {
                        position: absolute;
                        width: 100%;
                        height: 80px;
                        bottom: 0px;

                        .name {
                            font-weight: bold;
                            font-size: 20px;
                            color: white;
                        }

                        .for_price {
                            width: 220px;
                            height: 30px;
                            font-size: 17px;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            margin-top: 15px;
                            margin-left: 40px;

                            .price {
                                color: white;
                            }

                            .new {
                                padding-left: 10px;
                                color: orangered;
                            }
                        }
                    }
                }
            }
        }

    }
}

.wrapper_product {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    font-family: Akzidenz;
}

.new_product_img {
    width: 100%;
    height: 1200px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 1000px;
        object-fit: cover;
        position: absolute;
    }

    h1 {
        position: absolute;
        z-index: 10;
        top: 35%;
        color: white;
        left: 45%;
        font-size: 38px;
    }

    .btn_product {
        position: absolute;
        z-index: 10;
        color: white;
        left: 47%;
        top: 70%;
        width: 110px;
        height: 40px;
        background: none;
        border: 1px solid #716d6c;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: 18px;
        transition: .5s ease;

        &:hover {
            border: 1px solid white;
        }
    }
}

.product_block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3a3330;
    color: white;
    padding: 20px;
    gap: 40px;

    .product_block_count {
        width: 990px;
        height: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;

        .product_block_img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .product_box {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                margin-top: 40px;
                cursor: pointer;
                transition: .5s ease;

                img {
                    width: 50px;
                    height: 50px;
                }

                span {
                    font-size: 16px;
                }

                a {
                    font-size: 15px;
                    font-weight: 300;
                }

                &:hover {
                    filter: invert(50%);
                    transition: .5s ease;
                }
            }

        }
    }
}

.products_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .new_item {
        width: 300px;
        height: 510px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        margin-top: 50px;
        overflow: hidden;

    }
}

