html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  .sw__btn {
    margin: 0px 50px;
    &::after {
      font-size: 14px;
      bottom: -500%;
      position: absolute;
      padding: 16px 20px;
      border-radius: 100px;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.205);
      font-weight: thin;
    }
    &:hover {
      &::after {
        border-color: #fff;
      }
    }
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main_t {
  width: 100%;
  background-color: #3A3330;




  .main_top {
    margin: 0 auto;
    width: 1030px;
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: white;
    gap: 15px;
    margin-bottom: 30px;
    padding: 15px;



    .top_box {
      margin: 0 auto;
      width: 200px;
      height: 78px;
      // background-color: red;
      cursor: pointer;

    }
    .top_box:hover .top_text p, a{
      filter: invert(0);
    }
    .top_box:hover .all_style{
      filter: invert(0);
    }


    .top_img{
      width: 100%;
      height: 80%;
      // background-color: blue;
      .all_style{
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        transition: 0.5s ease;

      }
      .new_icon{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.84 28.84'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:.5px}%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='14.42' cy='14.42' r='14.17'/%3E%3Cpath class='cls-1' d='M14.74 5.72l2.41 4.88a.31.31 0 00.23.17l5.39.78a.31.31 0 01.17.52L19 15.88a.33.33 0 00-.09.27l.92 5.37a.3.3 0 01-.44.32l-4.78-2.54a.34.34 0 00-.28 0L9.5 21.84a.3.3 0 01-.44-.32l.94-5.37a.28.28 0 00-.09-.27L6 12.07a.31.31 0 01.17-.52l5.39-.78a.29.29 0 00.23-.17l2.41-4.88a.31.31 0 01.54 0z'/%3E%3C/svg%3E");
       
      }
      .kitchen_icon{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 30.3 28' xml:space='preserve'%3E%3Cstyle%3E.st1{fill:none;stroke:%23fff;stroke-width:.5;stroke-linecap:round;stroke-linejoin:round}%3C/style%3E%3Cpath d='M3.5 23.5l-2.3-.3c-.5-.1-.9-.6-.9-1.1v-4.2c0-1.4 1-1.4 1-1.4h1.3' fill='none' stroke='%23fff' stroke-width='.5' stroke-miterlimit='10'/%3E%3Ccircle class='st1' cx='19.7' cy='4.6' r='2.2'/%3E%3Cpath class='st1' d='M6.1 8.9l.1 1.3c0 .2.2.4.4.4h7.7c.2 0 .4-.2.4-.4V8.8m-4.1 4.8v-3m16.5-1.8H3.2c-.3 0-.6-.2-.6-.5L3.4.9c0-.3.3-.6.6-.6h21.9c.3 0 .6.2.6.6V1l1.2 7.4c0 .2-.3.4-.6.4z'/%3E%3Cpath class='st1' d='M20.4 9l7 14.3c.9 1.6.2 2.7-1.8 2.7H2.9c-.2 0-.4.2-.4.3v.2l.4 1c.1.1.2.2.3.2h23.2c2.1 0 4.2-1.6 3.4-4.1l-4-11.9c-.5-1.1 0-2.4 1.1-2.9.1-.1.2-.1.4-.1'/%3E%3Cpath class='st1' d='M15.8 26c1.2-.8 1.9-2.2 1.9-3.7l.7-8.3c0-.1 0-.2-.1-.2s-.1-.1-.2-.1H2.8c-.1 0-.1 0-.2.1s-.1.1-.1.2l.7 8.3c0 1.5.8 2.8 2 3.6'/%3E%3C/svg%3E");
      }
      .home_icon{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 31.7 28.3' xml:space='preserve'%3E%3Cstyle%3E.st0{fill:none;stroke:%23fff;stroke-width:.5;stroke-linecap:round;stroke-linejoin:round}%3C/style%3E%3Cpath class='st0' d='M8.2 15.2c-.3-1.1-1.3-1.7-2.4-1.5l-1.9.4c-.3.1-.5-.2-.5-.6l1-9.6c0-.4.3-.7.7-.7l13.6-3c.2-.1.5 0 .7.2 1.3 1.4 6.8 7.1 9 9.5.3.3.3.7.1 1m-28.1 9l3-3.2c.2-.2.4-.3.6-.3l26.8-5.8c.3-.1.5.1.5.4l.1 16.5c0 .2-.2.4-.4.5h-.1l-27.7-.6c-.2 0-.4-.2-.5-.4v-2c0-1.1-.4-2.1-1.2-2.9-.2-.4-1.6-1.7-1.1-2.2z'/%3E%3Cpath class='st0' d='M20.3 7.8l-10.2 2c-.6.1-1.1-.2-1.2-.7v-.4l.3-3.1c0-.5.4-.8.8-.9l7.4-1.5c.4-.1.8 0 1 .3l2.4 2.6c.4.4.4 1 0 1.4-.2.2-.3.3-.5.3zM1.5 21.6l2.6-2.9c.2-.2.4-.3.7-.4l26.5-6.1m.1 13.1h-7.7c-.7 0-1.2-.5-1.2-1.2v-5.6c0-.5.3-1.4 1-1.5l7.8-1.6'/%3E%3C/svg%3E");
      }
      .health_icon{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 31.7 21.3' xml:space='preserve'%3E%3Cstyle%3E.st0{fill:none;stroke:%23fff;stroke-width:.5;stroke-linecap:round;stroke-linejoin:round}%3C/style%3E%3Cg id='%D0%97%D0%B0%D0%BF%D0%B0%D1%81%D0%BD%D0%BE%D0%B9'%3E%3Cg id='Group-8'%3E%3Cpath id='Path-6' class='st0' d='M.9 6.2c-1 .7-1 7.2 1.4 10.8s8.6 4.4 9.8 4c1.6-.6 1.8-2.6 3.7-2.6s2 1.9 3.5 2.6c.9.4 7.3-.7 10.1-4s2.1-10.1 1.1-10.9-6.7 4-14.7 4S1.9 5.5.9 6.2z'/%3E%3C/g%3E%3C/g%3E%3Cpath class='st0' d='M.3 8.6l5 1.9a4 4 0 012.4 3.9c.1 1.1-.6 2-1.7 2.1-.3 0-.7 0-1-.1 0 0-3.5-1.3-3.7-1.4'/%3E%3Cg id='Group-2'%3E%3Cpath id='Path-7' class='st0' d='M.7 6.4C1.4 4 9.7 3.3 12.5.5c1.8-1.2 16.8 3.8 18 5.5'/%3E%3Cpath id='Path-10' class='st0' d='M4.7 7.3c.8-.7 6.6-1.8 8.2-3.6.7-.7 11.8 3 13.6 3.7'/%3E%3Cpath id='Path-11' class='st0' d='M12.9.4l.1 3'/%3E%3C/g%3E%3C/svg%3E");
      }
      .bork_icon{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 31.7 27.4' xml:space='preserve'%3E%3Cstyle%3E.st0{fill:none;stroke:%23fff;stroke-width:.5;stroke-linecap:round;stroke-linejoin:round}%3C/style%3E%3Cpath class='st0' d='M17.4 2.4h6.3c.4 0 .8.3.8.7v.7c0 .4-.3.8-.7.8h-6.3c-.4 0-.8-.3-.8-.7v-.8c.1-.5.4-.7.7-.7z'/%3E%3Cpath class='st0' d='M9.6 17.7V2.3c0-1.1.9-2 2-2h17.8c1.1 0 2 .9 2 2v22.9c0 1.1-.9 2-2 2H11.6c-1.1 0-2-.9-2-2v-3.9'/%3E%3Cpath class='st0' d='M.2 26.6c2.5-2.8 5.2-5.4 8.1-7.8C11.7 16.1 20.9 9 20.9 9c2.1-1.8 5-2.3 7.6-1.3-.4.8-1.8 2.7-5.2 5.9-3.6 3.1-7.3 6.2-7.3 6.2s-1-2.1-4-.1S2 26.4.6 27.1c-.2-.1-.3-.3-.4-.5z'/%3E%3C/svg%3E");
      }

      
    }
    .top_text{
      width: 100%;
      height: 20%;
      // background-color: green;
    }
    .top_text p{
      color: white;
      transition: 0.5s ease;
      
    }
    .center_box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }

  .main_top:hover .top_text p, a{
    filter: invert(50%);
  }

  
  .main_top:hover .all_style{
    filter: invert(40%);
  }



  .main_bottom {
    margin: 0 auto;
    width: 1320px;
    height: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 482px;
    grid-gap: 15px;

    
    .promo{
      width: 600px;
      height: 478px;
      background-color: #EF6F2E;
      border-radius: 12px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .bottom_box {
    // background-color: red;
    overflow: hidden;
    transition: 0.7s ease;
    
    cursor: pointer;

    .promo_video video{
      position:relative;
      transition: 0.7s ease;
      top: 0px;

      &:hover{
        
        top: -70px;
        
      }
    }
    

    .promo_footer{
      margin: 0 auto;
      width: 96%;
      height: 70px;
      background-color: #EF6F2E;
      border-radius: 0px 0px 12px 12px;
      transition: 0.7s ease;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
    }
   
    
    .texet{
      font-size: 20px;
      color: white;
      font-weight: 500;
      position: absolute;
      left: 10px;
      bottom: 25px;

    }

    




    .top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 80%;
      background-color: #26211E;
      border-radius: 12px;
      .box_icon {
        width: 100%;
        height: 34px;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .right {
          color: #93908F;
          width: 30px;
          height: 32px;
          transition: 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          overflow: hidden;
        }
        .right::after{
          content: url('../assets/icons/bag_basket_buy_cart_luggage_icon.svg');
        }
        .right:hover{
          width: 60px;
          border-radius: 15px;
          
        }
      }

      .box_img {
        width: 240px;
        height: 240px;
        background-position: center;
        background-size: cover;
        transition: 0.5s ease;
      }

      .bakal {
        background-image: url(../assets/img/bakal.png);

      }
    }

    .top_img {
      width: 100%;
      height: 80%;
      background-image: url(../assets/img/L602.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 12px;

    }
  }


  .bottom {
    display: flex;
    flex-direction: column;
    padding-top: 15px;

    gap: 15px;


    .product {
      font-size: inherit;
      color: white;
      font-weight: 400px;
    }

    .price {
      color: #9d9390;
      font-weight: 500;
    }
    .new_promo{
      font-size: 12px;
      color: #ef6f2e;
    }
  }



}

.bottom_box:nth-child(1) {
  grid-column: 1/3;

}
.bottom_box:hover .right{
  background-color: #ef6f2e;
  
}
.bottom_box:hover .box_img{
  transform: scale(1.1);
}

.right:hover{
  width: 100px;
}