* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --trans: transition: 0.3 ease;
    --color-prehover: rgba(255, 255, 255, .8);
    --color-hover: rgba(255, 255, 255, 1);
}

.header-modal__widow__bg {
    transition: 0.3 ease;
    position: fixed;
    z-index: 10000;
    opacity: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
}

.header-modal__widow {
    transition: var(--trans);
    left: -100%;
    top: 0;
    font-family: Akzidenz;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/img/example.jpg");
    background-size: cover;
    padding: 20px 25px;
    border-right: 1px solid black;
    position: fixed;
    z-index: 10001;
    width: 25%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.header-btn__closer {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special__offence {
    cursor: pointer;
    display: block;
    height: 20px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='110' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M83.677 6.564h-.051v2.033c0 1.227-.371 1.662-1.415 1.662h-6.153c-1.044 0-1.415-.435-1.415-1.662V6.564h-.668v2.033c0 1.633.662 2.393 2.083 2.393h6.153c1.42 0 2.083-.76 2.083-2.393V6.564h-.617zM82.211.022h-6.153c-1.421 0-2.083.76-2.083 2.392V4.49h.668V2.414c0-1.226.37-1.661 1.415-1.661h6.153c1.044 0 1.415.435 1.415 1.661V4.49h.668V2.414c0-1.632-.662-2.392-2.083-2.392zm9.812 5.113L88.32.035 88.303.02h-.031L85.769.013v.632h1.935v9.712H85.77v.632h4.517v-.632h-1.935V1.185l3.68 5.047 3.592-5.01v9.135h-1.935v.632h4.518v-.632H96.27V.645h1.936V.02L95.663.013l-3.64 5.122zM110 2.525V.002L99.68.018v.616h1.888v9.739H99.68v.616L110 10.98V8.46h-.639l.054 1.957-7.209-.045V5.828h3.482V5.21h-3.482V.626l7.209-.008-.054 1.907H110zM68.079.622h1.887v4.546h-5.842V.622h1.895v-.62h-4.43v.62h1.895v9.759H61.59V11h4.43v-.62h-1.895V5.789h5.842v4.593h-1.887V11h4.42v-.62h-1.885V.623H72.5v-.62h-4.42v.62zM38.666 4.987c.65 0 .98-.305.98-.91V2.803c0-.62-.324-.926-.98-.926h-6.08v3.11h6.08zm3.815 5.472c.246.204.136.531-.171.531h-2.181a.708.708 0 01-.476-.159L34.93 6.834l-.014-.006h-2.332v3.814a.35.35 0 01-.35.348h-1.66a.35.35 0 01-.351-.348V.417c0-.229.188-.415.419-.415h8.984c1.663 0 2.414.66 2.414 2.125l-.002 2.578c0 1.464-.746 2.124-2.4 2.124v-.001H38.18l4.302 3.631zm-32.474-3.1c0-.619-.324-.925-.981-.925H2.36v2.681h6.666c.652 0 .98-.307.98-.91v-.846zM2.36 4.558h6.61c.651 0 .981-.306.981-.91v-.845c0-.619-.325-.926-.981-.926H2.36v2.681zm10.067 2.663v1.617c0 1.403-.98 2.152-2.814 2.152H.404a.402.402 0 01-.404-.4V.403c0-.222.18-.4.404-.4H9.94c1.654 0 2.4.66 2.4 2.124v1.55c0 .909-.69 1.657-1.58 1.76l-.015.008.009.01a1.777 1.777 0 011.672 1.767zM25.296.002h.003C25.213 0 17.382 0 17.3.002h.003c-1.654 0-2.4.66-2.4 2.125v2.311h2.516V1.912h7.753v2.526h2.516v-.897l.006-1.414c0-1.464-.745-2.125-2.4-2.125zm-.122 6.55v2.529H17.42V6.552h-2.516L14.9 8.865c0 1.465.746 2.125 2.4 2.125h-.003c.086.003 7.917.003 7.997 0h-.002c1.654 0 2.399-.66 2.399-2.125l-.003-2.313h-2.515zm32.045 3.899c.254.179.155.54-.149.54h-2.567a.672.672 0 01-.388-.122L46.95 5.865v4.777a.349.349 0 01-.351.349h-1.666a.349.349 0 01-.35-.349V.35c0-.193.157-.348.35-.348h1.666c.194 0 .35.155.35.348v4.318L53.743.116a.688.688 0 01.395-.114h2.555c.307 0 .398.364.142.531l-7.116 4.648 7.501 5.27z' fill='%23FEFEFE'/%3E%3C/svg%3E");
}

.media__item {
    display: none;
}

.header-category__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-category__item {
    width: 100%;
}

.header-category__item a {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
}

.wrapper_product {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    font-family: Akzidenz;
}

.header-service__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-service__item {
    width: 100%;
}

.header-service__item a {
    transition: .2s ease;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--color-prehover);
    width: 100%;
}

.header-service__item:hover a {
    color: var(--color-hover);
}

.header {
    z-index: 100;
    width: 100%;
    font-family: Akzidenz;
    font-weight: 500;
    position: fixed;
}

.header-container {
    position: relative;
    width: 100%;
    z-index: 200;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(46, 40, 38, .8);
}

.header-left__side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-menu__icon {
    transition: var(--trans);
    opacity: .7;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 11px;
    border: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='21' fill='none'%3E%3Cpath clip-rule='evenodd' d='M3.5 20C4.9 20 6 19 6 17.6c0-1.3-1.1-2.4-2.5-2.4S1 16.4 1 17.6C1 19 2.1 20 3.5 20zm7.5 0c1.4 0 2.5-1 2.5-2.4 0-1.3-1.1-2.4-2.5-2.4s-2.5 1.1-2.5 2.4C8.5 19 9.6 20 11 20zM3.5 5.8C4.9 5.8 6 4.7 6 3.4 6 2 4.9 1 3.5 1S1 2 1 3.4c0 1.3 1.1 2.4 2.5 2.4zm7.5 0c1.4 0 2.5-1.1 2.5-2.4C13.5 2 12.4 1 11 1S8.5 2 8.5 3.4c0 1.3 1.1 2.4 2.5 2.4zm-7.5 7.1c1.4 0 2.5-1 2.5-2.4 0-1.3-1.1-2.4-2.5-2.4S1 9.1 1 10.5c0 1.3 1.1 2.4 2.5 2.4zm7.5 0c1.4 0 2.5-1 2.5-2.4 0-1.3-1.1-2.4-2.5-2.4s-2.5 1-2.5 2.4c0 1.3 1.1 2.4 2.5 2.4zm7.5 7.1c1.4 0 2.5-1 2.5-2.4 0-1.3-1.1-2.4-2.5-2.4S16 16.4 16 17.6c0 1.3 1.1 2.4 2.5 2.4zm0-14.2c1.4 0 2.5-1.1 2.5-2.4C21 2 19.9 1 18.5 1S16 2 16 3.4c0 1.3 1.1 2.4 2.5 2.4zm0 7.1c1.4 0 2.5-1 2.5-2.4 0-1.3-1.1-2.4-2.5-2.4s-2.5 1-2.5 2.4c0 1.3 1.1 2.4 2.5 2.4z' stroke='%23fff'/%3E%3C/svg%3E");
}

.header-location__icon {
    transition: var(--trans);
    margin-left: 4px;
    opacity: 0.7;
    display: block;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8.714c0 2.04.875 4.079 2.1 5.497l5.338 5.409 5.337-5.409c1.225-1.418 2.1-3.458 2.1-5.497C15.875 4.458 12.55 1 8.437 1S1 4.458 1 8.714z' stroke='%23fff'/%3E%3Cpath clip-rule='evenodd' d='M8.5 10.867c1.26 0 2.283-1.035 2.283-2.313 0-1.277-1.022-2.313-2.283-2.313-1.26 0-2.283 1.036-2.283 2.313 0 1.278 1.022 2.313 2.283 2.313z' stroke='%23fff'/%3E%3C/svg%3E");
    background-color: transparent;
}

.header-location__icon:hover {
    opacity: 1;
}

.header-phone__number {
    font-weight: 600;
    transition: var(--trans);
    color: var(--color-prehover);
    font-size: 16px;
}

.header-phone__number:hover {
    color: var(--color-hover);
}

.header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo svg {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 40%;
    cursor: pointer;
}

.header-right__side {
    display: flex;
    gap: 40px;
    cursor: pointer;
}

.header-cart__icon {
    transition: var(--trans);
    background-color: transparent;
    width: 22px;
    height: 22px;
    opacity: 0.2;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' fill='none'%3E%3Cg opacity='1' stroke='%23fff'%3E%3Cpath d='M5 10C5-2 16-2 16 10' stroke-linecap='round'/%3E%3Cpath d='M.5 6c0-.3.2-.5.5-.5h19c.3 0 .5.2.5.5v15c0 .3-.2.5-.5.5H1a.5.5 0 01-.5-.5V6z'/%3E%3C/g%3E%3C/svg%3E");
}

.header-search__icon {
    border: none;
    background-color: transparent;
}

.header-search__icon::before {
    transition: var(--trans);
    opacity: .7;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='none'%3E%3Cpath clip-rule='evenodd' d='M7.881 14.762A6.88 6.88 0 107.881 1a6.88 6.88 0 000 13.762z' stroke='%23fff'/%3E%3Cpath d='M18 18l-4.857-4.857' stroke='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-person__icon {
    border: none;
    background-color: transparent;
}

.header-person__icon::before {
    content: "";
    transition: var(--trans);
    display: inline-block;
    width: 22px;
    height: 22px;
    opacity: 0.7;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' fill='none'%3E%3Cpath d='M10.5 21h7.56c2.53 0 1.93-1.58 1.74-2.33a9.62 9.62 0 00-5.63-6.55c-1.13-.47-1.42.56-3.67.56-2.18 0-2.58-1.02-3.73-.54a9.62 9.62 0 00-5.68 6.97C.97 19.7.65 21 2.84 21h7.66zm0-11a4.5 4.5 0 100-9 4.5 4.5 0 000 9z' stroke='%23fff' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-person__icon:hover::before,
.header-menu__icon:hover,
.header-search__icon:hover::before {
    opacity: 1;
}


.new_product_img {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.new_product_img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
}

.new_product_img h1 {
    position: absolute;
    z-index: 10;
    top: 35%;
    color: white;
    left: 870px;
    font-size: 38px;
}

.btn_product {
    position: absolute;
    z-index: 10;
    color: white;
    left: 47%;
    top: 70%;
    width: 110px;
    height: 40px;
    background: none;
    border: 1px solid #716d6c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    border-radius: 18px;
    transition: .5s ease;
}

.btn_product:hover {
    border: 1px solid white;
}

.product_block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3a3330;
    color: white;
    padding: 20px;
    gap: 40px;
}

.product_block_count {
    width: 990px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.product_block_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.product_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    cursor: pointer;
    transition: .5s ease;
}

.product_box img {
    width: 50px;
    height: 50px;
}

.product_box a {
    font-size: 15px;
    font-weight: 300;
}

.product_box span {
    font-size: 16px;
}

.product_box:hover {
    filter: invert(50%);
    transition: .5s ease;
}

.products_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.new_item {
    width: 300px;
    height: 310px;
    background-color: #26211E;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 12px;
}

.new_item_top_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_item_top_head img {
    width: 110px;
    height: 10px;
}

.new_item_top_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.new_item_top_main img {
    width: 200px;
    height: 200px;
}

